@import url(https://fonts.googleapis.com/css?family=Open+Sans:500,400,300,600,700);

body {
    font-family: "Open Sans";
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans";
    font-weight: 700;
}
